/* The main and secondary font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* To remove the purple underlining and the color */
a {
    text-decoration: none;
    color: #143F6B;
}

a:visited {
    text-decoration: none;
    color: #143F6B;
}

/* The Global style */
body {
    font-family: 'Amaranth', sans-serif;
    background-color: whitesmoke;
    background-image: url('../images/bodyimage.png');
    color: #FEB139;

}

/* Underline the page on the navigation area*/
.contact-active {
    border: 3px solid whitesmoke;
    padding: 3px;
    border-radius: 10px;
}


/* The header and the logo area*/
header {
    background-color: #143F6B;
    height: 100px;
    width: 100%;
}

h1 {
    font-family: 'Amaranth', sans-serif;
    color: #FEB139;
}

#logo {
    float: left;
    margin-left: 75px;
    font-size: 350%;
    height: 150px;

}

#logo a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 5px;

}

#logo a:hover {
    color: #F55353;
}

/* The navigation area for other page*/
.navigation {
    font-size: 110%;
    letter-spacing: 3px;
    margin-right: 20px;

}

.navigation a {
    text-decoration: none;
    color: #FEB139;
}


.navigation a:hover {
    color: #F55353;

}

.navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 30px;
}

#logo,
.navigation {
    line-height: 100px;
}

/* The footer and copyright */
footer {
    height: 160px;
    background-color: #143F6B;
    margin-top: 200px;

}

.social-media {
    list-style-type: none;
    text-align: center;

}

.social-media i {
    margin: 10%;
    font-size: 300%;
    color: whitesmoke;
    padding: 2%;
    margin-top: 20px;
    letter-spacing: 75px;
}

.social-media>li {
    display: inline-block;

}

.copyright {
    margin: 2%;
    font-size: 20px;
    color: whitesmoke;
    padding: 1%;
    margin-top: 5px;
    text-align: center;
}

.copyright i {
    color: whitesmoke;
}

/* The center box part of the home page */
.box {
    height: 1250px;
    width: 60%;
    border: 4px solid #143F6B;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #143F6B;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;

}

.box-text {
    color: whitesmoke;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.gif0 {
    width: 90%;
    height: 400px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
}

.welcome-text {
    color: #FEB139;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px
}

.welcome-p {
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 25px;

}

/* The introduction video on the home/main page */
.video-box {
    height: 540px;
    width: 90%;
    margin: 0 auto;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    margin-top: 40px;
}

.video-box:hover {
    border: 7px solid #FEB139;
}

/* The start button for the quote generator page */
.main-start {
    margin-top: 40px;
    font-size: 30px;
    background-color: #143F6B;
    color: whitesmoke;
    padding: 8px;
    border: 2px solid #FEB139;
    border-radius: 10px;
}

.main-start:hover {
    background-color: whitesmoke;
    color: #143F6B;
}

/* The contact form box and sign up */

/* The contact box and heading*/
.contact-main {
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 1175px;
    background-color: whitesmoke;
    border: 3px solid #143F6B;
    border-radius: 15px;
}

.contact-box {
    height: 150px;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #143F6B;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
}

.contact-heading {
    color: #FEB139;
    margin-bottom: 10px;
}

.contact-heading-text {
    margin-bottom: 10px;
}

/* The contact form */

.contact-form {
    height: 450px;
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #143F6B;
    letter-spacing: 2px;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

/* Full name and input box */

.name-input {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    border: 3px solid #F55353;
    border-radius: 10px;
    font-family: 'Amaranth', sans-serif;

}

/* Email and input box */

.email-input {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    border: 3px solid #F55353;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family: 'Amaranth', sans-serif;

}

/* Message and input box */

.form-message {
    font-size: 25px;
}

.message-input {
    height: 150px;
    width: 85%;
    margin-top: 20px;
    border: 5px solid #F55353;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family: 'Amaranth', sans-serif;

}

/* The submit button */
.submit {
    font-size: 25px;
    margin: 0 auto;
    background-color: inherit;
    padding: 5px;
    color: whitesmoke;
    border: 3px solid #FEB139;
    border-radius: 10px;
}

.submit:hover {
    color: #143F6B;
    background-color: whitesmoke;
}

/* COntact page giphy */
.gif-box {
    height: 460px;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #143F6B;
    border-radius: 10px;
    color: whitesmoke;
}

.gif1 {
    width: 100%;
    height: 450px;
    padding: 20px;
}

/* The quotes generator section */
/* The generator box */