/* The main and secondary font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* To remove the purple underlining and the color */
a {
    text-decoration: none;
    color: #143F6B;
}

a:visited {
    text-decoration: none;
    color: #143F6B;
}

/* The Global style */
body {
    font-family: 'Amaranth', sans-serif;
    background-color: whitesmoke;
    background-image: url('../images/bodyimage.png');
    color: #FEB139;

}

/* Underline the page on the navigation area*/
.contact-active {
    border: 3px solid whitesmoke;
    padding: 3px;
    border-radius: 10px;
}


/* The header and the logo area*/
header {
    background-color: #143F6B;
    height: 100px;
    width: 100%;
}

h1 {
    font-family: 'Amaranth', sans-serif;
    color: #FEB139;
}

#logo {
    float: left;
    margin-left: 75px;
    font-size: 350%;
    height: 150px;

}

#logo a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 5px;

}

#logo a:hover {
    color: #F55353;
}

/* The navigation area for other page*/
.navigation {
    font-size: 110%;
    letter-spacing: 3px;
    margin-right: 20px;

}

.navigation a {
    text-decoration: none;
    color: #FEB139;
}


.navigation a:hover {
    color: #F55353;

}

.navigation li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    font-size: 30px;
}

#logo,
.navigation {
    line-height: 100px;
}

/* The footer and copyright */
footer {
    height: 160px;
    background-color: #143F6B;
    margin-top: 200px;

}

.social-media {
    list-style-type: none;
    text-align: center;

}

.social-media i {
    margin: 10%;
    font-size: 300%;
    color: whitesmoke;
    padding: 2%;
    margin-top: 20px;
    letter-spacing: 75px;
}

.social-media>li {
    display: inline-block;

}

.copyright {
    margin: 2%;
    font-size: 20px;
    color: whitesmoke;
    padding: 1%;
    margin-top: 5px;
    text-align: center;
}

.copyright i {
    color: whitesmoke;
}

/* The center box part of the home page */
.box {
    height: 1250px;
    width: 60%;
    border: 4px solid #143F6B;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #143F6B;
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;

}

.box-text {
    color: whitesmoke;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.gif0 {
    width: 90%;
    height: 400px;
    border-radius: 15px;
    border: 2px solid whitesmoke;
}

.welcome-text {
    color: #FEB139;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px
}

.welcome-p {
    color: whitesmoke;
    padding-bottom: 10px;
    font-size: 25px;

}

/* The introduction video on the home/main page */
.video-box {
    height: 540px;
    width: 90%;
    margin: 0 auto;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    margin-top: 40px;
}

.video-box:hover {
    border: 7px solid #FEB139;
}

.home-video {
    width: 95%;
    height: 520px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
}

/* The start button for the quote generator page */
.main-start {
    margin-top: 700px;
    font-size: 30px;
    background-color: whitesmoke;
    padding: 8px;
    border: 2px solid #FEB139;
    border-radius: 10px;
}



/* The contact form box and sign up */

/* The contact box and heading*/
.contact-main {
    margin: 0 auto;
    margin-top: 100px;
    width: 50%;
    height: 1175px;
    background-color: whitesmoke;
    border: 3px solid #143F6B;
    border-radius: 15px;
}

.contact-box {
    height: 150px;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #143F6B;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
}

.contact-heading {
    color: #FEB139;
    margin-bottom: 10px;
}

.contact-heading-text {
    margin-bottom: 10px;
}

/* The contact form */

.contact-form {
    height: 450px;
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #143F6B;
    letter-spacing: 2px;
    border-radius: 10px;
    color: whitesmoke;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

/* Full name and input box */

.name-input {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    border: 3px solid #F55353;
    border-radius: 10px;
    font-family: 'Amaranth', sans-serif;

}

/* Email and input box */

.email-input {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    border: 3px solid #F55353;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family: 'Amaranth', sans-serif;

}

/* Message and input box */

.form-message {
    font-size: 25px;
}

.message-input {
    height: 150px;
    width: 85%;
    margin-top: 20px;
    border: 5px solid #F55353;
    border-radius: 10px;
    margin-bottom: 30px;
    font-family: 'Amaranth', sans-serif;

}

/* The submit button */
.submit {
    font-size: 25px;
    margin: 0 auto;
    background-color: inherit;
    padding: 5px;
    color: whitesmoke;
    border: 3px solid #FEB139;
    border-radius: 10px;
}

.submit:hover {
    color: #143F6B;
    background-color: whitesmoke;
}

/* Contact page giphy */
.gif-box {
    height: 460px;
    width: 75%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #143F6B;
    border-radius: 10px;
    color: whitesmoke;
}

.gif1 {
    width: 100%;
    height: 450px;
    padding: 20px;
}

/* The quotes generator page*/

/* The generator box */
.generator-box {
    margin: 0 auto;
    margin-top: 100px;
    width: 55%;
    height: 440px;
    background-color: #143F6B;
    border: 3px solid black;
    border-radius: 15px;
}

/* Generator heading and paragraph */
.quote-section {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

.quotes {
    color: whitesmoke;
    font-size: 30px;
}

.quotee {
    color: #F55353;
    font-size: 25px;
    margin-top: 20px;
}

/* Generate Button */
.quoteButtons {
    text-align: center;
    margin-top: 40px;
}

.newQuote {
    font-size: 25px;
    background-color: whitesmoke;
    padding: 6px;
    color: #143F6B;
    border: 3px solid #FEB139;
    border-radius: 10px;
}

.newQuote:hover {
    color: #143F6B;
    background-color: whitesmoke;
    border: 8px solid #FEB139;
}

/* media queries */

/* for medium sized screens from 900px wide and less */
@media screen and (max-width: 900px) {
    #logo {
        font-size: 250%;
    }

    .box {
        width: 75%;
    }

    .contact-main {
        width: 75%;
    }
}

/* for smaller screen sizes from 820px wide and less */
@media screen and (max-width: 820px) {
    #logo {
        font-size: 250%;
    }

    .box {
        width: 85%;
    }

    .contact-main {
        width: 80%;
    }

    .generator-box {
        height: 475px;
        width: 65%;
    }

    .contact-box {
        font-size: 17px;
        width: 85%;
    }

    .gif-box {
        width: 85%;
    }

    .contact-form {
        width: 85%;
    }
}

/* for smaller screen sizes from 700px wide and less */
@media screen and (max-width: 700px) {
    #logo {
        font-size: 175%;
        margin-left: 30px;
    }

    .contact-nav {
        font-size: 70%;
        margin-left: 25px;
    }
}

/* for smaller screen sizes from 570px wide and less */
@media screen and (max-width: 570px) {
    .contact-nav {
        font-size: 55%;
        margin-left: 30px;
    }

    .navigation {
        margin-right: 10px;
    }

    .navigation li {
        margin-right: 10px;
    }

    .gif0 {
        width: 75%;
        height: 300px;
    }

    .welcome-text {
        font-size: 25px;
    }

    .video-box {
        height: 400px;
        width: 95%;
    }

    .home-video {
        height: 390px;
    }

    .box {
        height: 1030px;
        width: 97%;
    }

    .generator-box {
        width: 80%;
    }

    .quotes {
        font-size: 25px;
    }

    .contact-main {
        width: 90%;
    }

    .contact-box {
        font-size: 16px;
    }

    .social-media i {
        font-size: 200%;
        letter-spacing: 50px;
    }
}

/* for smaller screen sizes from 450px wide and less */
@media screen and (max-width: 450px) {
    .gif0 {
        width: 90%;
    }

    .welcome-text,
    .welcome-p {
        font-size: 20px;
    }

    .generator-box {
        width: 90%;
    }

    .quotes,
    .quotee {
        font-size: 18px;
    }

    .footer {
        height: 100px;
    }

    .form-message,
    .form-name,
    .form-email {
        font-size: 20px;
    }

    .email-input {
        margin-bottom: 15px;
        width: 250px;
    }

    .name-input {
        margin-bottom: 10px;
        width: 250px;
    }

    .name-input,
    .email-input,
    .message-input {
        margin-top: 10px;
    }

    .contact-nav {
        font-size: 40%;
        margin-left: 30px;
    }

    .navigation {
        margin-right: 5px;
    }

    .gif-box {
        height: 370px;
    }

    .gif1 {
        height: 350px;
    }

    .social-media i {
        letter-spacing: 20px;
        font-size: 200%;
        margin: 5%;
        margin-top: 20px;
    }

    .copyright {
        font-size: 14px;
    }

    #logo {
        font-size: 130%;
    }

}

/* for smaller screen sizes from 350px wide and less */
@media screen and (max-width: 350px) {
    #logo {
        font-size: 100%;
        margin-left: 5px;
    }

    .navigation li {
        margin-right: 2px;
        font-size: 17px;
    }

    .navigation {
        margin-right: 2px;
    }

    .gif0 {
        width: 90%;
        height: 200px;
    }

    .welcome-text,
    .welcome-p {
        font-size: 17px;
    }

    .video-box {
        height: 200px;
    }

    .home-video {
        height: 180px;
    }

    .box {
        height: 720px;
    }

    .main-start {
        font-size: 20px;
    }

    .gif-box {
        height: 180px;
    }

    .gif1 {
        height: 170px;
    }

    .contact-heading,
    .contact-heading-text {
        font-size: 15px;
    }

    .contact-box {
        height: 200px;
    }

    .name-input {
        width: 60%;
    }

    .email-input {
        width: 60%;
    }
}